@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    font-family: Poppins, Helvetica, sans-serif;
}



h1 {
    text-align: center;
    font-size: 5rem;
}

h2 {
    animation: subtitle 5s;
    color: turquoise;
    margin-left: 2.5vw;
}

h3 {
    color: white;
}

p {
    animation: enter 5s;
    font-size: 14px;
    font-weight: lighter;
}

body {
    background-color: rgb(34, 34, 40);
    margin: 0;
    height: 100%;
    /* overflow-y: scroll; */
}







@keyframes enter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    from {
        margin-left: 10%;
    }
}

@keyframes subtitle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    from {
        margin-left: 30%;
    }
}

@keyframes slidein {
    from {
      margin-left: -100%;
    }
  
    to {
      margin-left: 0%;
    }
  }


  @keyframes slideout {

    from {
      margin-left: 0%;
    }
  
    to {
      margin-left: -100%;
    }

  }

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.titulo {
    animation: enter 5s;
    background-image: linear-gradient(to bottom, rgb(234, 79, 205), rgb(127, 70, 180), turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 100%;
}


.home{
    display: flex;
    align-self: center;
    width: 60%;
    flex-direction: column;
}


.block {
    background-color: rgba(92, 106, 124, 0.395);
    padding: 25px;
    justify-content: center;
    margin-bottom: 3% !important;
    margin: 0 auto;
    width: 85%;
    border-radius: 8px;
    color: rgb(220, 220, 220);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


.block img {
    display: block;
    width: 100%;
    height: 40%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}



nav {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(92, 106, 124, 0.24);
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;

}

nav li {
    padding: 5px;
}

nav h3 {
    text-align: left;
}

nav a {
    text-decoration: none;
    color: white;
}


nav img {
    width: 3%;
    height: 3%;
    padding: 10px;
}



@media (max-width:950px) {
    .titulo {
        font-size: 4.5rem;
    }
}

.closebtn{
    display: none;
}

@media (max-width:800px) {
    
    .closebtn{
        display: block;
    }
    img {
        width: 100% !important;
    }

    .home{
        width: 100% !important;
    }
    .block {
        background-color: rgba(92, 106, 124, 0.395);
        padding: 15px;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 50px;
        border-radius: 8px;
        width: auto;
        color: rgb(220, 220, 220);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }

    h2 {

        margin-left: 20px;
    }

    .sidebar {
        background-color: rgb(62, 69, 79) !important;
        width: 65% !important;
        display: none !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all 0.15s ease;
    }

    .left-sidebar {
        display: none !important;
    }

    nav img {
        width: 8% !important;

    }

    nav li{
        font-size: 3.2vw;
    }

    #open{
        color: rgb(220, 220, 220);
        display: flex !important;
        transform: rotate(360deg);
        transition: transform 0.5s;
    }

    #open:active {
        transform: rotate(0deg);
        transition:  0s;
      }

      #opened {
        animation: slidein 1s !important;
      }

      #closed {
        animation: slideout 1s !important;
      }
}



.sidebar {
    background-color: rgba(92, 106, 124, 0.395);
    display: inline-flex;
    justify-content: left;
    width: 20%;
    flex-direction: column;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    z-index: 1;
}

.sidebar ul {
    list-style: none;
    color: rgb(220, 220, 220);
    padding: 15px;
}

.sidebar h3 {
    color: rgb(220, 220, 220);
    padding: 15px;

}

.sidebar li {
    padding: 5px;
    border-radius: 8px;
}

.sidebar a {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

.sidebar li:hover {
    background-color: rgb(217, 58, 167) !important;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px
}




.left-sidebar {
    background-color: rgba(92, 106, 124, 0.395);
    display: inline-flex;
    justify-content: right;
    width: 100%;
        flex-direction: column;
    height: 83vh;
    margin-top: 50px;
    height: 100%;
    position: relative;
    border-radius: 8px 0 0 8px;
    overflow-y: hidden;

}

.left {
    display: flex;
    position: absolute;
    height: 100%;
    width: 20%;
    align-self: end;
    flex-direction: column;
}

.left-sidebar h4 {
    color: rgb(220, 220, 220);
    padding-left: 15px;
    padding-right: 15px;
}

.left-sidebar p {
    color: rgb(220, 220, 220);
    padding-left: 15px;
    padding-right: 15px;
}


.left-sidebar p {
    font-size: 12px;
}

#open{
    display: none;
    margin-right: auto;
    margin-left: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
  }

  .theme-change{
    background-color: aliceblue;
    width: 70px;
    border-radius: 20px;
    display: flex;
    margin-right: 15px;
  }

  .light-mode {
    background-color: #f3f3f3;
    color: black;
}

.block.light-mode{
    background-color: rgb(198 198 198 / 40%);
    color: black;
    
}

.sidebar.light-mode{
    background-color: rgb(198 198 198 / 40%);
    color: black;

}

.sidebar.light-mode ul{
    /* background-color: rgb(198 198 198 / 40%); */
    color: black;

}
.sidebar.light-mode h3{
    /* background-color: rgb(198 198 198 / 40%); */
    color: black;

}
.sidebar.light-mode li{
    /* background-color: rgb(198 198 198 / 40%); */
    color: black;

}
.left-sidebar.light-mode{
    background-color: rgb(198 198 198 / 40%);
    color: black;

}

.left-sidebar.light-mode p{
    /* background-color: rgb(198 198 198 / 40%); */
    color: black;

}

.left-sidebar.light-mode h4{
    /* background-color: rgb(198 198 198 / 40%); */
    color: black;

}