@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    font-family: Poppins, Helvetica, sans-serif;
}

.titulo {
    animation: enter 5s;
    background-image: linear-gradient(to bottom, rgb(234, 79, 205), rgb(127, 70, 180), turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 100%;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

h2 {
    animation: enter 5s;
    color: turquoise;
    margin-left: 24%;
}

h3 {
    color: white;
}

p {
    animation: enter 5s;
    font-size: 14px;
    font-weight: lighter;
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    from {
        margin-left: 10%;
    }
}

.block {
    background-color: rgba(92, 106, 124, 0.395);
    padding: 25px;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;

    margin: auto;
    width: 50%;
    border-radius: 8px;
    color: rgb(220, 220, 220);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


body {
    background-color: rgb(34, 34, 40);
    margin: 0;

}

nav {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(92, 106, 124, 0.24);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;

}

nav li {
    padding: 5px;
}

nav h3 {
    text-align: left;
}

nav a {
    text-decoration: none;
    color: white;
}

.block img {
    display: block;
    width: 100%;
    height: 40%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (max-width:800px) {
    img {
        width: 100% !important ;
    }

    .block {
        background-color: rgba(92, 106, 124, 0.395);
        padding: 15px;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 50px;
        border-radius: 8px;
        width: auto;
        color: rgb(220, 220, 220);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }

    h2 {

        margin-left: 20px;
    }

    .sidebar {
        display: none !important;
    }
    nav img{
        width: 10% !important;
       
    }
}

.home {
    position: absolute;
}

.sidebar {
    background-color: rgba(92, 106, 124, 0.395);
    display: inline-flex;
    justify-content: left;
    width: 20%;
    flex-direction: column;
    height: 180vh;
    position: absolute;
    margin: 0 auto;
}

.sidebar ul {
    list-style: none;
    color: rgb(220, 220, 220);
    padding: 15px;
}

.sidebar h3 {
    color: rgb(220, 220, 220);
    padding: 15px;

}

.sidebar li {
    padding: 5px;
    border-radius: 8px;
}

.sidebar a {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

.sidebar li:hover {
    background-color: rgb(217, 58, 167) !important;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px
}

nav img{
    width: 3%;
    height: 3%;
    padding: 10px;
}